.mediaViewInfo {
	--web-view-name: Dashboard Medicine;
	--web-view-id: Dashboard_Medicine;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Dashboard_Medicine;
}
* {
	margin: 0;
	padding: 0;
}
#Dashboard_Medicine {
	position: absolute;
	box-sizing: border-box;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	background: #E5E5E5;
	width: 2003px;
	height: 1011px;
	background-color: rgba(240,243,248,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Dashboard Medicine;
	--web-view-id: Dashboard_Medicine;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	top: 981.5px;
	left: 174px;
	width: 773px;
	height: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1 {
	filter: drop-shadow(1px 3px 28px rgba(0, 0, 0, 0.078));
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 2014px;
	height: 1037px;
	left: 39px;
	top: 29px;
}
.Rectangle {
	position: absolute;
	overflow: visible;
	width: 1017.885px;
	height: 46.018px;
	left: 245.132px;
	top: 810.808px;
}
#Group_9 {
	position: absolute;
	width: 337.746px;
	height: 190.389px;
	left: 206.132px;
	top: 96.174px;
	overflow: visible;
}
.Rectangle_Copy {
	position: absolute;
	overflow: visible;
	width: 337.746px;
	height: 190.389px;
	left: 0px;
	top: 0px;
}
#ID162567 {
	position: absolute;
	left: 40.072px;
	top: 43.311px;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 41px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.34782608032226564px;
}
#Products_contains_be {
	position: absolute;
	left: 27.069px;
	top: 101.059px;
	overflow: hidden;
	width: 276.486px;
	height: 43.311px;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.08125px;
}
#Group_5 {
	position: absolute;
	width: 333.702px;
	height: 190.389px;
	left: 601.558px;
	top: 96.174px;
	overflow: visible;
}
.Rectangle_Copy_2 {
	position: absolute;
	overflow: visible;
	width: 333.702px;
	height: 190.389px;
	left: 0px;
	top: 0px;
}
#ID162567_copy {
	position: absolute;
	left: 39.592px;
	top: 43.311px;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.34782608032226564px;
}
#Products_contains_be_Copy {
	position: absolute;
	left: 25.265px;
	top: 101.059px;
	overflow: hidden;
	width: 271.539px;
	height: 43.311px;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.08125px;
}
#Group_3 {
	position: absolute;
	width: 319.345px;
	height: 190.389px;
	left: 982.327px;
	top: 96.174px;
	overflow: visible;
}
.Rectangle_Copy_3 {
	position: absolute;
	overflow: visible;
	width: 319.345px;
	height: 190.389px;
	left: 0px;
	top: 0px;
}
#ID162567_copy_2 {
	position: absolute;
	left: 37.888px;
	top: 43.311px;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 41px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.34782608032226564px;
}
#Products_contains_be_Copy_2 {
	position: absolute;
	left: 25.265px;
	top: 101.059px;
	overflow: hidden;
	width: 257.183px;
	height: 43.311px;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.08125px;
}
.Oval {
	position: absolute;
	overflow: visible;
	width: 63.651px;
	height: 63.651px;
	left: 1876.534px;
	top: 71.202px;
}
#Group_2 {
	position: absolute;
	width: 1017.885px;
	height: 378.07px;
	left: 245.132px;
	top: 356.041px;
	overflow: visible;
}
.Rectangle_Copy_4_A0_Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 1017.885px;
	height: 378.07px;
	left: 0px;
	top: 0px;
}
#Group_2_A0_Group_5 {
	position: absolute;
	width: 1017.885px;
	height: 378.07px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Total_Risk_Quantity {
	position: absolute;
	left: 271.139px;
	top: 314.534px;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(57,60,80,1);
	letter-spacing: -0.16875px;
}
#ID3500_3000_2500_2000 {
	position: absolute;
	left: 209.455px;
	top: 365.966px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -5.5px;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(192,197,213,1);
	letter-spacing: 0.08125px;
}
#Jan_Feb_Mar_Apr_May {
	position: absolute;
	left: 290px;
	top: 734px;
	overflow: visible;
	width: 927px;
	white-space: nowrap;
	line-height: 44px;
	margin-top: -13px;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(192,197,213,1);
	letter-spacing: 2.4357144165039064px;
}
#Rectangle_Copy_6 {
	opacity: 0.178;
}
.Rectangle_Copy_6 {
	position: absolute;
	overflow: visible;
	width: 82.111px;
	height: 55.944px;
	left: 41.305px;
	top: 176.48px;
}
#pie_graphic {
	position: absolute;
	width: 25.127px;
	height: 23.284px;
	left: 69.051px;
	top: 192.721px;
	overflow: visible;
}
#Capa_1 {
	position: absolute;
	width: 25.127px;
	height: 23.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_x31_9_1_ {
	position: absolute;
	width: 25.127px;
	height: 23.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Shape {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25.127px;
	height: 23.284px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_4 {
	position: absolute;
	width: 25.257px;
	height: 21.41px;
	left: 68.149px;
	top: 253.296px;
	overflow: visible;
}
#Group {
	position: absolute;
	width: 25.257px;
	height: 21.41px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#speedometer_tool {
	position: absolute;
	width: 25.257px;
	height: 21.41px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Capa_1_A0_Group_12 {
	position: absolute;
	width: 25.257px;
	height: 21.41px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_x33_2 {
	position: absolute;
	width: 25.257px;
	height: 21.41px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Shape_A0_BooleanGroup_2 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25.257px;
	height: 21.41px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8 {
	position: absolute;
	width: 24.978px;
	height: 24.752px;
	left: 69.738px;
	top: 312.626px;
	overflow: visible;
}
#circular_clock {
	position: absolute;
	width: 24.978px;
	height: 24.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Capa_1_A0_Group_16 {
	position: absolute;
	width: 24.978px;
	height: 24.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_x32_9 {
	position: absolute;
	width: 24.978px;
	height: 24.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Shape_A0_BooleanGroup_3 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 24.978px;
	height: 24.752px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_6 {
	position: absolute;
	width: 23.675px;
	height: 24.592px;
	left: 69.973px;
	top: 372.282px;
	overflow: visible;
}
#graphic {
	position: absolute;
	width: 23.675px;
	height: 24.592px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Capa_1_A0_Group_20 {
	position: absolute;
	width: 23.675px;
	height: 24.592px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_x33_4 {
	position: absolute;
	width: 23.675px;
	height: 24.592px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Shape_A0_BooleanGroup_4 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 23.675px;
	height: 24.592px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7 {
	position: absolute;
	width: 26.962px;
	height: 26.843px;
	left: 69.14px;
	top: 433.64px;
	overflow: visible;
}
#piggy_bank__1_ {
	position: absolute;
	width: 26.962px;
	height: 26.843px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Capa_1_A0_Group_24 {
	position: absolute;
	width: 26.962px;
	height: 26.843px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Piggy_smile {
	position: absolute;
	width: 26.962px;
	height: 26.843px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Shape_A0_BooleanGroup_5 {
	overflow: visible;
	position: absolute;
	top: 13.505px;
	left: 17.393px;
	width: 3.485px;
	height: 3.34px;
	transform: matrix(1,0,0,1,0,0);
}
.Shape_A0_BooleanGroup_6 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 8.955px;
	width: 7.313px;
	height: 7.009px;
	transform: matrix(1,0,0,1,0,0);
}
.Shape_A0_Path_8 {
	overflow: visible;
	position: absolute;
	top: 10.832px;
	left: 10.234px;
	width: 7.006px;
	height: 1.544px;
	transform: matrix(1,0,0,1,0,0);
}
.Shape_A0_BooleanGroup_7 {
	overflow: visible;
	position: absolute;
	top: 6.841px;
	left: 0px;
	width: 26.962px;
	height: 20.002px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7_A0_Group_26 {
	position: absolute;
	width: 24.1px;
	height: 23.854px;
	left: 70.855px;
	top: 495.12px;
	overflow: visible;
}
#wheel_outline {
	position: absolute;
	width: 24.1px;
	height: 23.854px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Capa_1_A0_Group_28 {
	position: absolute;
	width: 24.1px;
	height: 23.854px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_x33_0 {
	position: absolute;
	width: 24.1px;
	height: 23.854px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Shape_A0_BooleanGroup_8 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 24.1px;
	height: 23.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7_A0_Group_30 {
	position: absolute;
	width: 23.423px;
	height: 24.913px;
	left: 71.758px;
	top: 873.068px;
	overflow: visible;
}
#power {
	position: absolute;
	width: 23.423px;
	height: 24.913px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Capa_1_A0_Group_32 {
	position: absolute;
	width: 23.423px;
	height: 24.913px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_A0_Group_33 {
	position: absolute;
	width: 23.423px;
	height: 24.913px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Shape_A0_Path_9 {
	overflow: visible;
	position: absolute;
	top: 2.221px;
	left: 0px;
	width: 23.423px;
	height: 22.693px;
	transform: matrix(1,0,0,1,0,0);
}
.Shape_A0_Path_10 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 11.261px;
	width: 0.901px;
	height: 12.012px;
	transform: matrix(1,0,0,1,0,0);
}
.Oval_A0_Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 34.288px;
	height: 34.288px;
	left: 63.863px;
	top: 70.909px;
}
#S {
	position: absolute;
	left: 74.888px;
	top: 74.518px;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.025000014305114747px;
}
#Rectangle_A0_Rectangle_10 {
	filter: drop-shadow(2px 0px 21px rgba(89, 49, 99, 0.502));
}
.Rectangle_A0_Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 71.121px;
	height: 118.944px;
	left: 38.5px;
	top: 176.48px;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	top: 28.5px;
	left: 123.415px;
	width: 1px;
	height: 951.156px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Search_2636692 {
	position: absolute;
	width: 24.362px;
	height: 24.362px;
	left: 1665.918px;
	top: 88.955px;
	overflow: visible;
}
.Shape_A0_BooleanGroup_9 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 24.362px;
	height: 24.362px;
	transform: matrix(1,0,0,1,0,0);
}
#notification {
	position: absolute;
	width: 27.069px;
	height: 26.167px;
	left: 1765.222px;
	top: 87.151px;
	overflow: visible;
}
.Shape_A0_BooleanGroup_10 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 27.069px;
	height: 26.167px;
	transform: matrix(1,0,0,1,0,0);
}
.Oval_A0_Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 18.339px;
	height: 18.339px;
	left: 1783.195px;
	top: 81.737px;
}
#Component_4___1 {
	position: absolute;
	width: 500.783px;
	height: 261.672px;
	left: 1404.006px;
	top: 634.103px;
	overflow: visible;
}
.Rectangle_A0_Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 500.783px;
	height: 118.203px;
	left: 0px;
	top: 0px;
}
#Oval_A0_Ellipse_6 {
	opacity: 0.143;
}
.Oval_A0_Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 84.818px;
	height: 84.818px;
	left: 408.407px;
	top: 14.437px;
}
#Oval_Copy_2 {
	position: absolute;
	width: 84.818px;
	height: 84.818px;
	left: 408.068px;
	top: 14.437px;
	overflow: visible;
}
.Mask_A0_Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 84.818px;
	height: 84.818px;
	left: 0px;
	top: 0px;
}
#Oval_Copy_2_A0_Group_37 {
	position: absolute;
	width: 84.818px;
	height: 84.818px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Oval_Copy {
	position: absolute;
	overflow: visible;
	width: 54.139px;
	height: 54.139px;
	left: 422.617px;
	top: 29.776px;
}
.Rectangle_Copy_5 {
	position: absolute;
	overflow: visible;
	width: 500.783px;
	height: 118.203px;
	left: 0px;
	top: 143.468px;
}
#Total_Risk_Quantity_A0_Text_12 {
	position: absolute;
	left: 50.383px;
	top: 28.874px;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(57,60,80,1);
	letter-spacing: 0.049999995231628416px;
}
#Traded_Products {
	position: absolute;
	left: 50.383px;
	top: 175.049px;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(57,60,80,1);
	letter-spacing: 0.04999998569488526px;
}
#This_month {
	position: absolute;
	left: 50.383px;
	top: 196.705px;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.04999998569488526px;
}
#ID2357 {
	position: absolute;
	left: 50.383px;
	top: 55.944px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -7px;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(37,45,206,1);
	letter-spacing: 0.05px;
}
#ID758549 {
	position: absolute;
	left: 331.488px;
	top: 186.779px;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 33px;
	margin-top: -4.5px;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(37,45,206,1);
	letter-spacing: 0.05px;
}
#From_Country {
	position: absolute;
	left: 328.8px;
	top: 824.343px;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.08125px;
}
#To_Country {
	position: absolute;
	left: 602.355px;
	top: 824.343px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.08125px;
}
#Quantity {
	position: absolute;
	left: 873.228px;
	top: 824.343px;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.08125px;
}
#Risk_Quantity {
	position: absolute;
	left: 1107.895px;
	top: 824.343px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.08125px;
}
#Pakistan {
	position: absolute;
	left: 329.005px;
	top: 876.677px;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(56,60,82,1);
	letter-spacing: 0.08125px;
}
#Bangladesh {
	position: absolute;
	left: 602.059px;
	top: 876.677px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(56,60,82,1);
	letter-spacing: 0.08125px;
}
#ID34349 {
	position: absolute;
	left: 884.001px;
	top: 876.677px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(56,60,82,1);
	letter-spacing: 0.08125px;
}
#ID2473 {
	position: absolute;
	left: 1124.169px;
	top: 876.677px;
	overflow: visible;
	width: 14px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(56,60,82,1);
	letter-spacing: 0.08125px;
}
.Line_3_A0_Path_13 {
	overflow: visible;
	position: absolute;
	top: 914.123px;
	left: 300.814px;
	width: 908.226px;
	height: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_3___1 {
	position: absolute;
	width: 459.517px;
	height: 430.175px;
	left: 1429.628px;
	top: 168.359px;
	overflow: visible;
}
#Risk_Products_COGS__ {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -2.5px;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(57,60,80,1);
	letter-spacing: 0.05px;
}
#Country {
	position: absolute;
	left: 0px;
	top: 86.622px;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(56,60,82,1);
	letter-spacing: 0.08125px;
}
#Name {
	position: absolute;
	left: 91.368px;
	top: 86.622px;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(57,60,80,1);
	letter-spacing: 0.08125px;
}
#Crgs_Value_Copy {
	position: absolute;
	left: 257.517px;
	top: 86.622px;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(57,60,80,1);
	letter-spacing: 0.08125px;
}
#Repeat_Grid_1 {
	position: absolute;
	width: 459.296px;
	height: 288.54px;
	left: 0.222px;
	top: 141.635px;
	overflow: hidden;
}
#Repeat_Grid_1_0 {
	position: absolute;
	width: 422.296px;
	height: 21.54px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Franch {
	position: absolute;
	width: 58px;
	height: 17px;
	left: 91px;
	top: 0px;
	overflow: visible;
}
#Franch_A0_Text_29 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509 {
	position: absolute;
	left: 261.296px;
	top: 4.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Franch_A0_Text_31 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_32 {
	position: absolute;
	left: 401.296px;
	top: 2.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Repeat_Grid_1_1 {
	position: absolute;
	width: 422.296px;
	height: 21.54px;
	left: 0px;
	top: 42px;
	overflow: visible;
}
#Franch_A0_Component_4 {
	position: absolute;
	width: 38px;
	height: 17px;
	left: 91px;
	top: 0px;
	overflow: visible;
}
#Franch_A0_Text_33 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_34 {
	position: absolute;
	left: 261.296px;
	top: 4.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Franch_A0_Text_35 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_36 {
	position: absolute;
	left: 401.296px;
	top: 2.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Repeat_Grid_1_2 {
	position: absolute;
	width: 422.296px;
	height: 21.54px;
	left: 0px;
	top: 84px;
	overflow: visible;
}
#Franch_A0_Component_5 {
	position: absolute;
	width: 34px;
	height: 17px;
	left: 91px;
	top: 0px;
	overflow: visible;
}
#Franch_A0_Text_37 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_38 {
	position: absolute;
	left: 261.296px;
	top: 4.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Franch_A0_Text_39 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_40 {
	position: absolute;
	left: 401.296px;
	top: 2.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Repeat_Grid_1_3 {
	position: absolute;
	width: 422.296px;
	height: 21.54px;
	left: 0px;
	top: 126px;
	overflow: visible;
}
#Franch_A0_Component_6 {
	position: absolute;
	width: 41px;
	height: 17px;
	left: 91px;
	top: 0px;
	overflow: visible;
}
#Franch_A0_Text_41 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_42 {
	position: absolute;
	left: 261.296px;
	top: 4.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Franch_A0_Text_43 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_44 {
	position: absolute;
	left: 401.296px;
	top: 2.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Repeat_Grid_1_4 {
	position: absolute;
	width: 422.296px;
	height: 21.54px;
	left: 0px;
	top: 168px;
	overflow: visible;
}
#Franch_A0_Component_7 {
	position: absolute;
	width: 56px;
	height: 17px;
	left: 91px;
	top: 0px;
	overflow: visible;
}
#Franch_A0_Text_45 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_46 {
	position: absolute;
	left: 261.296px;
	top: 4.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Franch_A0_Text_47 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_48 {
	position: absolute;
	left: 401.296px;
	top: 2.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Repeat_Grid_1_5 {
	position: absolute;
	width: 422.296px;
	height: 21.54px;
	left: 0px;
	top: 210px;
	overflow: visible;
}
#Franch_A0_Component_8 {
	position: absolute;
	width: 25px;
	height: 17px;
	left: 91px;
	top: 0px;
	overflow: visible;
}
#Franch_A0_Text_49 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_50 {
	position: absolute;
	left: 261.296px;
	top: 4.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Franch_A0_Text_51 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_52 {
	position: absolute;
	left: 401.296px;
	top: 2.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Repeat_Grid_1_6 {
	position: absolute;
	width: 422.296px;
	height: 21.54px;
	left: 0px;
	top: 252px;
	overflow: visible;
}
#Franch_A0_Component_9 {
	position: absolute;
	width: 29px;
	height: 17px;
	left: 91px;
	top: 0px;
	overflow: visible;
}
#Franch_A0_Text_53 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_54 {
	position: absolute;
	left: 261.296px;
	top: 4.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Franch_A0_Text_55 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#ID444509_A0_Text_56 {
	position: absolute;
	left: 401.296px;
	top: 2.54px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(146,151,181,1);
	letter-spacing: 0.08125px;
}
#Crgs_Value_Copy_A0_Text_57 {
	position: absolute;
	left: 387.517px;
	top: 86.622px;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(57,60,80,1);
	letter-spacing: 0.08125px;
}